<section class="about">
       <div class="container">
           <div class="row">
              <div class="col-4 col-md-4 col-sm-12 col-xs-12">
                    <img src="img/natasha-graham.jpg" class="img-circle img-no-padding img-responsive" alt="Natasha Graham">
                    <!-- <p class="text-center">Natasha Graham</p> -->
              </div>
               <div class="col-8 col-md-8 col-sm-12 col-xs-12">
                   <div class="about-info">
                       <h3 class="heading3">Who is Natasha?</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Universa enim illorum ratione cum tota vestra confligendum puto. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Occultum facinus esse potuerit, gaudebit; Duo Reges: constructio interrete. Quid iudicant sensus? Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia.</p>

                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Universa enim illorum ratione cum tota vestra confligendum puto. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Occultum facinus esse potuerit, gaudebit; Duo Reges: constructio interrete. Quid iudicant sensus? Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia.</p>
                   </div>
               </div>
           </div>
       </div>
   </section>