<div class="py-5" id="images">
          <div class="container">
              <div class="col-12 col-sm-12 col-md-12">
                <h2 class="heading2 bold">Photo <span class="text-accent">Gallery</span></h2>
              </div>
                <div class="py-4 row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/1.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/2.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/3.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                </div>

                <div class="py-4 row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/4.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/5.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/6.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                </div>

                <div class="py-4 row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/7.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/8.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <img src="img/photos/9.jpg" class="img-gallery img-responsive" alt="Rounded Image">
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 text-center">
                  <button type="button" class="btn btn-primary btn-round">View Full Gallery <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>