<section class="transparent-background">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered white-text">
                    <blockquote class="blockquote">
                        <p class="py-3">
                            "When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence."
                        </p>
                    </blockquote>
                    <footer class="blockquote-footer">Ansel Adams <cite title="source Title">Source Title</cite></footer>
                </div>
            </div>
        </div>
    </section>