// All colors and fonts used for the site go in this file

// Main font for site
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

// Font for signature
@import url('https://fonts.googleapis.com/css?family=Niconne');

// Titles
@true-white: #ffffff;
@white-title: #f7f7f7;
@black-title: #333333;

// Navbar Link Colors
@nav-links: #6dd3d6;
// Accent colors
@accent-color: #6dd3d6;
@accent-warning: lighten(#fcd27b, 20%);
