.footer {
  background: darken(@accent-color, 25%);
  .footer-nav {
    a {
      color: @true-white !important;
      text-shadow: 1px 1px 1px #555;
      font-weight: normal;
    }
  }
  .copyright {
    color: @true-white !important;
    text-shadow: 1px 1px 1px #555;
    a {
      color: @true-white !important;
      text-shadow: 1px 1px 1px #555;
    }
  }
}
